.form {
    align-items: center;
    background-color: #c4e1fa;
    display: flex;
    justify-content: space-between;
    margin: 10px 70px;
    padding: 0 10px;

    &-dropdown {
        border-radius: 4px;
        height: fit-content;
        width: 130px;
    }

    &-label {
        font-family: sans-serif;
        margin: 12px 0;
    }
}