$font-family: sans-serif;

.card {
    border: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    width: 19rem;

    &-body {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        flex: 1 1 auto;
    }

    &-title {
        font-family: $font-family;
        font-size: 20px;
        margin: 0 0 5px;
    }

    &-price {
        font-family: $font-family;
        margin: 0 0 5px;
    }

    &-feature {
        color: #ffff;
        font-family: $font-family;
        font-size: 14px;
        letter-spacing: 1;
        margin-left: 10px;
        padding: 15px;
        width: min-content;

        &.sale {
            background-color: #cf0909;
        }

        &.exclusive {
            background-color: #10f110;
        }
    }
}